<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div id="headline" class="x-3">
        <br>
        <br>
        <h3 align="center">
            Awesome Facts
            <small class="text-muted"> | That will make your day!</small>
        </h3>
   </div>
   <div id="card">
       <br>
       <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Facts go here</h5>
          <p class="card-text">{{ Fact.get_fact() }}</p>
          <a href="/" class="btn btn-primary">Next</a>
        </div>
        <div class="card-footer text-muted">
          Made with 💖 in Python.
        </div>
      </div>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>